<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="animal">

    <insert id="signup" parameterType="com.review.dto.animal.AnimalMemberDTO">
/*********************** 회원 가입 AnimaMemberMapper.xml -  signup **************************/

        INSERT INTO OWNER_TBL
        (
        OWNER_ID,           /** 회원 아이디 **/
        PASSWORD,            /** 회원 비밀번호 **/
        EMAIL,               /** 회원 이메일 **/
        PHONENUMBER         /** 회원 핸드폰번호 **/
        )
        VALUES
        (
        #{owner_Id},
        #{password},
        #{email},
        #{phoneNumber}
        )

/*********************** 회원 가입 AnimaMemberMapper.xml -  signup **************************/

    </insert>

    <select id="login" parameterType="com.review.dto.animal.AnimalMemberDTO" resultType="com.review.dto.animal.AnimalMemberDTO">
/*********************** 로그인 AnimaMemberMapper.xml -  login **************************/
            <![CDATA[
            SELECT
                OWNER_ID,            /** 회원 아이디 **/
                PASSWORD,            /** 회원 비밀번호 **/
                EMAIL,               /** 회원 이메일 **/
                PHONENUMBER,         /** 회원 핸드폰번호 **/
                GRADE,               /** 등급 **/
                PWDEXPIRES,          /** 비밀번호 변경 날짜 **/
                PWFAILCOUNT,         /** 비밀번호 실패 횟수 **/
             CASE WHEN
                 PWDEXPIRES <= DATE_ADD(NOW(), INTERVAL -3 MONTH) THEN 'Y' ELSE 'N' END AS CHANGE_AT
             FROM
                 OWNER_TBL
            WHERE
                OWNER_ID = #{owner_Id}
            ]]>
/*********************** 로그인 AnimaMemberMapper.xml -  login **************************/
    </select>

    <select id="emailCheck" parameterType="hashMap" resultType="int">
/*********************** 이메일 체크 AnimaMemberMapper.xml -  animal.emailCheck **************************/

        SELECT
            COUNT(*)
        FROM
            OWNER_TBL
        WHERE
            1 = 1
        <if test="email != null and email != '' ">
            AND  EMAIL =  #{email}
        </if>
        <if test="ownerId != null and ownerId != '' ">
            AND  OWNER_ID =  #{ownerId}
        </if>

/*********************** 이메일 체크 AnimaMemberMapper.xml -  emailCheck **************************/
    </select>

    <select id="myInfo" resultType="com.review.dto.animal.AnimalMemberDTO">
/*********************** 내 정보 AnimaMemberMapper.xml -  myInfo **************************/

        SELECT
            (
            SELECT
                COUNT(*)
            FROM
                MEDICAL_REVIEW_BAORD            /** 리뷰 몇개 썼는지 개수 찾는 쿼리 **/
            WHERE
                WRITER = #{owner_Id}
            ) AS  POST,

            (
            SELECT
                COUNT(*)
            FROM
                INQUIRY_COMMENT_TBL             /** 댓글 몇개 썼는지 개수 찾는 쿼리 **/
             WHERE
                COMMENT_WRITER =  #{owner_Id})
                AS COMMENT,

            OWNER_ID,                           /** 회원 아이디 **/
            EMAIL,                              /** 회원 이메일 **/
            PHONENUMBER                         /** 회원 핸드폰번호 **/
        FROM
            OWNER_TBL
        WHERE
            OWNER_Id = #{owner_Id}

/*********************** 내 정보 AnimaMemberMapper.xml -  myInfo **************************/
    </select>

    <update id="editInfo" parameterType="com.review.dto.animal.AnimalMemberDTO">
/*********************** 내 정보 수정 AnimaMemberMapper.xml.xml -  editInfo **************************/

        UPDATE
            OWNER_TBL
        SET
            EMAIL = #{email}, PHONENUMBER =  #{phoneNumber}
        WHERE
            OWNER_ID = #{owner_Id}

/*********************** 내 정보 수정 AnimaMemberMapper.xml -  editInfo **************************/

    </update>

    <update id="keepLogin">
/*********************** 자동로그인 AnimaMemberMapper.xml.xml -  keepLogin **************************/

        UPDATE
            OWNER_TBL
        SET
            SESSION_KEY = #{session_key},
            session_limit = #{session_limit}
        WHERE
            OWNER_ID = #{owner_Id}

/*********************** 자동로그인 AnimaMemberMapper.xml.xml -  keepLogin **************************/

    </update>

    <select id="checkUserWitSessionKey" resultType="com.review.dto.animal.AnimalMemberDTO">
/*********************** 자동로그인 AnimaMemberMapper.xml.xml -  keepLogin **************************/
        <![CDATA[
        SELECT
            OWNER_ID,            /** 회원 아이디 **/
            PASSWORD,            /** 회원 비밀번호 **/
            EMAIL,               /** 회원 이메일 **/
            PHONENUMBER,         /** 회원 핸드폰번호 **/
            GRADE,               /** 등급 **/
            PWDEXPIRES,          /** 비번 만료일 **/
            SESSION_KEY,          /** 세션 키 **/
        CASE WHEN
            PWDEXPIRES <= DATE_ADD(NOW(), INTERVAL -3 MONTH) THEN 'Y' ELSE 'N' END AS CHANGE_AT
        FROM
            OWNER_TBL
        WHERE
            SESSION_KEY = #{value}
        ]]>
/*********************** 자동로그인 AnimaMemberMapper.xml.xml -  keepLogin **************************/

    </select>

    <select id="findId" parameterType="hashMap" resultType="String">
/*********************** 아이디 찾기 AnimaMemberMapper.xml.xml -  findId **************************/

        SELECT
            OWNER_ID
        FROM
            OWNER_TBL
        WHERE
            EMAIL = #{email} AND PHONENUMBER = #{phone}

/*********************** 아이디 찾기 AnimaMemberMapper.xml.xml -  findId **************************/
    </select>

    <select id="findPw" resultType="int">
/*********************** 비번 찾기 AnimaMemberMapper.xml.xml -  findPw **************************/

        SELECT
            COUNT(*)
        FROM
            OWNER_TBL
        WHERE
            EMAIL = #{email} AND OWNER_ID = #{owner_Id}

/*********************** 비번 찾기 AnimaMemberMapper.xml.xml -  findPw **************************/

    </select>

    <update id="pwUpdate">
/*********************** 랜덤으로 비번저장  AnimaMemberMapper.xml.xml -  pwUpdate **************************/

        UPDATE
            OWNER_TBL
        SET
            PASSWORD = #{password}
        WHERE
            EMAIL = #{email} AND OWNER_ID = #{owner_Id}

/*********************** 랜덤으로 비번저장  AnimaMemberMapper.xml.xml -  pwUpdate **************************/
    </update>

    <update id="pwChange"  parameterType="hashMap">
/*********************** 비밀번호 변경  AnimaMemberMapper.xml.xml -  pwUpdate **************************/

        UPDATE
            OWNER_TBL
        SET
            <if test="password != null">
            PASSWORD = #{password},
            </if>
            PWDEXPIRES = CURRENT_TIMESTAMP
        WHERE
            OWNER_ID = #{owner_Id}

/*********************** 랜덤으로 비번저장  AnimaMemberMapper.xml.xml -  pwUpdate **************************/
    </update>

    <update id="pwFailCount">
        UPDATE
            OWNER_TBL
        SET
            PWFAILCOUNT =  PWFAILCOUNT + 1
        WHERE
            OWNER_ID = #{owner_Id}
    </update>

    <update id="pwFailReset">
        UPDATE
            OWNER_TBL
        SET
            PWFAILCOUNT = 0
        WHERE
            OWNER_ID = #{owner_Id}
    </update>
</mapper>