<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Pet">

    <insert id="infoSave" parameterType="com.review.dto.animal.AnimalDTO">
/**************************** 동물 등록 PetMapper.xml - Pet.infoSave *********************************/

        INSERT INTO Pet_Tbl
            (
             OWNER_ID,                  /* 동물 주인 */
             PET_ID,                    /* 마이크로칩 번호 */
             PET_NAME,                  /* 동물 이름 */
             AGE,                       /* 동물 나이 */
             SIGNIFICANT,               /* 특이사항 */
             SPECIES                    /* 종 */
             )
             VALUES
             (
              #{owner_Id},              /* 동물 주인 */
              #{pet_Id},                /* 마이크로칩 번호 */
              #{pet_name},              /* 동물 이름 */
              #{age},                   /* 동물 나이 */
              #{significant},           /* 특이사항 */
              #{species}                /* 종 */
              )

    </insert>

    <select id="PetInfo" parameterType="String" resultType="com.review.dto.animal.AnimalDTO">
/**************************** 동물 정보 PetMapper.xml - Pet.PetInfo *********************************/

        SELECT
            OWNER_ID,                  /* 동물 주인 */
            PET_ID,                    /* 마이크로칩 번호 */
            PET_NAME,                  /* 동물 이름 */
            SPECIES,                   /* 종 */
            SIGNIFICANT,               /* 특이사항 */
            TIMESTAMPDIFF(YEAR, AGE, CURDATE()) AS AGE /* 계산된 나이 */
        FROM
            Pet_Tbl
        WHERE
            OWNER_Id =  #{owner_Id}     /* 주인 아이디 */


    </select>

    <select id="InfoSelect" parameterType="String" resultType="com.review.dto.animal.AnimalDTO">
/**************************** 동물 정보 상세보기 PetMapper.xml - Pet.InfoSelect *********************************/

        SELECT
            OWNER_ID,                  /* 동물 주인 */
            PET_ID,                    /* 마이크로칩 번호 */
            PET_NAME,                  /* 동물 이름 */
            AGE,                       /* 동물 나이 */
            SIGNIFICANT,               /* 특이사항 */
            SPECIES                    /* 종 */
        FROM
            PET_TBL
        WHERE
            PET_ID =  #{pet_Id}

    </select>

    <update id="InfoUpdate" parameterType="com.review.dto.animal.AnimalDTO">
/**************************** 동물 정보 상세보기 PetMapper.xml - Pet.InfoUpdate *********************************/

        UPDATE
            PET_TBL
        SET
            AGE = #{age},                   /* 동물 나이 */
            SPECIES = #{species},           /* 종 */
            PET_NAME = #{pet_name},         /* 동물 이름 */
            SIGNIFICANT = #{significant}    /* 특이사항 */

        WHERE PET_ID = #{pet_Id};

    </update>

    <delete id="InfoDelete">
/**************************** 동물 정보 삭제 PetMapper.xml - Pet.InfoDelete *********************************/

        DELETE FROM
                   PET_TBL
               WHERE
                   PET_ID = #{pet_Id}

    </delete>
</mapper>