<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="animal">

    <insert id="signup" parameterType="com.review.dto.animal.AnimalMemberDTO">
        /** 회원 가입 **/
        INSERT INTO Owner_Tbl
        (
        OWNER_ID,            /** 회원 아이디 **/
        PASSWORD,            /** 회원 비밀번호 **/
        EMAIL,               /** 회원 이메일 **/
        PHONENUMBER         /** 회원 핸드폰번호 **/
        )
        VALUES
        (
        #{owner_Id},
        #{password},
        #{email},
        #{phoneNumber},
        )
    </insert>

    <select id="login" parameterType="com.review.dto.animal.AnimalMemberDTO" resultType="com.review.dto.animal.AnimalMemberDTO">
        SELECT
            OWNER_ID,            /** 회원 아이디 **/
            PASSWORD,            /** 회원 비밀번호 **/
            EMAIL,               /** 회원 이메일 **/
            PHONENUMBER,         /** 회원 핸드폰번호 **/
            GRADE
        FROM Owner_Tbl
        WHERE OWNER_ID = #{owner_Id}
    </select>

    <select id="emailCheck" parameterType="hashMap" resultType="int">
        SELECT
            COUNT(*)
        FROM Owner_Tbl
        WHERE  1 = 1
        <if test="email != null and email != '' ">
            AND  EMAIL =  #{email}
        </if>
        <if test="ownerId != null and ownerId != '' ">
            AND  OWNER_ID =  #{ownerId}
        </if>
    </select>

    <select id="myInfo" resultType="com.review.dto.animal.AnimalMemberDTO">
    select
        OWNER_ID,            /** 회원 아이디 **/
        EMAIL,               /** 회원 이메일 **/
        PHONENUMBER          /** 회원 핸드폰번호 **/
    from Owner_Tbl
    where OWNER_Id = #{owner_Id}
    </select>

    <update id="editInfo" parameterType="com.review.dto.animal.AnimalMemberDTO">
        UPDATE Owner_Tbl
        SET EMAIL = #{email}, PHONENUMBER =  #{phoneNumber}
        WHERE OWNER_ID = #{owner_Id}
    </update>
</mapper>