<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comment">
    <insert id="save" parameterType="com.review.dto.animal.InquiryCommentDTO">
        INSERT INTO INQUIRY_COMMENT_TBL
            (
                COMMENT_WRITER,          /** 댓글 작성자 **/
                COMMENT_CONTENT,         /** 댓글 내용 **/
                INQUIRY_NUM              /** 문의테이블 번호 **/
            )
            VALUES
            (
                #{comment_Writer},
                #{comment_Content},
                #{inquiry_num}
            )

    </insert>

    <select id="findAll" parameterType="int" resultType="com.review.dto.animal.InquiryCommentDTO">

        SELECT
            ID,                       /** 댓글 고유번호 **/
            COMMENT_WRITER,           /** 댓글 작성자 **/
            COMMENT_CONTENT,          /** 댓글 내용 **/
            INQUIRY_NUM,              /** 문의 테이블 번호 **/
            COMMENT_CREATE_TIME       /** 문의작성 시간 **/
        FROM
            INQUIRY_COMMENT_TBL
        WHERE
            INQUIRY_NUM = #{inquiry_num}
        ORDER BY
            ID DESC
    </select>

    <delete id="delete" parameterType="int">
        DELETE
        FROM
            INQUIRY_COMMENT_TBL
        WHERE
            ID = #{id}
    </delete>

    <update id="update">
        UPDATE
            INQUIRY_COMMENT_TBL
        SET
            COMMENT_CONTENT = #{comment_Content}
        WHERE
            ID = #{id}
    </update>
</mapper>