<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inquiry">

    <select id="getList" resultType="java.util.HashMap">
/************************ 문의 게시판 리스트 InquiryMapper.xml - inquiry.getList *****************************/

        SELECT
            A.INQUIRY_NUM,          /** 문의 고유번호 **/
            A.TITLE,                /** 문의 제목 **/
            A.CONTENT,              /** 문의 내용 **/
            A.REGDATE,              /** 문의 시간 **/
            A.OWNER_ID,
            A.PASSWORD,
            CONCAT
            (
                LEFT(A.WRITER, 4),
                    REPEAT('*', LENGTH(A.WRITER) - 9),
                RIGHT(A.WRITER, 4)
            ) AS HIDDENWRITER,
            CASE
                WHEN A.OWNER_ID is not null
                    THEN 'Y' ELSE 'N' END OWNER_CH,
            CASE
                WHEN A.PASSWORD != ''
                    THEN 'Y' ELSE 'N' END PASSWORD_CH,
            (
                SELECT
                    COUNT(*)
                FROM
                    INQUIRY_COMMENT_TBL B
                WHERE
                    A.INQUIRY_NUM = B.INQUIRY_NUM
            ) AS CNT
        FROM
            INQUIRY_TBL A
        ORDER BY
            A.INQUIRY_NUM DESC;



    </select>
    <insert id="insert">
/************************ 문의 게시판 작성 InquiryMapper.xml - inquiry.insert *****************************/

        INSERT INTO INQUIRY_TBL
        (
            TITLE,                   /** 문의제목 **/
            CONTENT,                 /** 문의내용 **/
            WRITER,                  /** 작성자 **/
            OWNER_ID,                /** 소유자 ID **/
            PASSWORD                /** 비밀번호 **/
        )
        VALUES
        (
            #{title},                /** 문의제목 **/
            #{content},              /** 문의내용 **/
            #{writer},               /** 작성자 **/
            #{owner_Id},             /** 소유자 ID **/
            #{password}              /** 비밀번호 **/
        )


</insert>


    <select id="read" resultType="Map" parameterType="Map">
/************************ 문의 게시판 상세보기 inquiry.read - inquiry.read *****************************/

        SELECT
            TITLE,                   /** 문의제목 **/
            CONTENT,                 /** 문의내용 **/
            WRITER,                  /** 작성자 **/
            OWNER_ID,                /** 소유자 ID **/
            PASSWORD,                /** 비밀번호 **/
            REGDATE,
            UPDATE_DATE,
            INQUIRY_NUM,
            CONCAT
             (
                LEFT(WRITER, 4),
                REPEAT('*', LENGTH(WRITER) - 9),
                RIGHT(WRITER, 4)
            ) AS HIDDENWRITER
        FROM
            INQUIRY_TBL
        WHERE
            INQUIRY_NUM = #{inquiry_num} /** 문의고유번호 **/
            <if test="pw != '' and pw != null">
                AND PASSWORD = #{pw}
            </if>

    </select>

    <delete id="delete">
/*********************** 문의 게시판 게시물 삭제 InquiryMapper.xml - inquiry.delete *************************/

        DELETE
        FROM
            INQUIRY_TBL
       WHERE
           INQUIRY_NUM=#{inquiry_Num}

    </delete>

    <update id="update">
/*********************** 문의 게시판 게시물 수정 InquiryMapper.xml - inquiry.update *************************/

        UPDATE
            INQUIRY_TBL
        SET
            TITLE = #{title},                  /** 문의제목 **/
            CONTENT = #{content},              /** 문의내용 **/
            WRITER = #{writer},                /** 작성자 **/
            UPDATE_DATE = CURRENT_TIMESTAMP    /** 문의 내용 수정 시간 **/
        WHERE
            INQUIRY_NUM = #{inquiry_Num}       /** 문의고유번호 **/

    </update>
</mapper>