<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

    <insert id="save" parameterType="com.review.dto.BoardDTO"  useGeneratedKeys="true" keyProperty="bno">
        insert into moong_table (content, title, writer) values (#{content}, #{title}, #{writer})
    </insert>

    <select id="list" resultType="com.review.dto.BoardDTO">
        select * from moong_table
        order by bno desc
    </select>

    <select id="read" parameterType="int" resultType="com.review.dto.BoardDTO">
        select * from moong_table
        where bno = #{bno}
    </select>

    <update id="hits" parameterType="int">
        update moong_table set hits = hits + 1
        where bno = #{bno}
    </update>

    <delete id="delete" parameterType="int">
        delete from moong_table
        where bno = #{bno}
    </delete>

    <update id="update" parameterType="com.review.dto.BoardDTO">

        update moong_table
        set title= #{title}, content = #{content}
        where bno = #{bno}
    </update>


    <insert id="insertFile" parameterType="hashMap">
        /** BoardMapper - insertFile */
        insert into mp_file
        (
            file_no               /* 파일 번호*/
        , bno                   /* 보드 bno*/
        , org_file_name         /* 진짜 파일 이름*/
        , stored_file_name      /* 랜덤 파일 이름*/
        , file_size             /* 파일 사이즈*/
        , regdate               /* 파일 올린 시간*/
        , del_gb                /* 파일 삭제 시간*/
        )VALUES
            (
                #{FILE_NO}            /* 파일 번호*/
            , #{BNO}                /* 보드 BNO*/
            , #{ORG_FILE_NAME}      /* 진짜 파일 이름*/
            , #{STORED_FILE_NAME}   /* 랜덤 파일 이름*/
            , #{FILE_SIZE}          /* 파일 사이즈*/
            , SYSDATE()             /* 파일 올린 시간*/
            , 'N'                   /* 파일 삭제 시간*/
            )
    </insert>

    <select id="selectFileList" parameterType="int" resultType="hashMap">
        /** BoardMapper - selectFileList */
        SELECT
            FILE_NO                                /* 파일 번호*/
             , ORG_FILE_NAME                          /* 진짜 파일 이름*/
             , ROUND(FILE_SIZE/1024,1) AS FILE_SIZE   /* 파일 사이즈*/
             , STORED_FILE_NAME                       /* 랜덤 파일 이름*/
             , BNO                                    /* 보드 BNO*/
        FROM MP_FILE
        WHERE BNO = #{BNO}
          AND DEL_GB = 'N'
        ORDER BY FILE_NO ASC
    </select>

    <select id="selectFileInfo" parameterType="hashMap" resultType="hashMap">
        /** BoardMapper - selectFileInfo */
        SELECT
            STORED_FILE_NAME,
            ORG_FILE_NAME
        FROM MP_FILE
        WHERE FILE_NO = #{FILE_NO}
    </select>

    <delete id="fileRemove">
        /** BoardMapper - removeFile */

        DELETE FROM MP_FILE
        WHERE FILE_NO = #{FILE_NO}
    </delete>

    <update id="updateFile" parameterType="hashMap">
        UPDATE MP_FILE SET
            DEL_GB = 'Y'
        WHERE FILE_NO = #{FILE_NO}
    </update>
</mapper>