<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Pet">

    <insert id="infoSave" parameterType="com.review.dto.PetDTO">
        INSERT INTO Pet_Tbl
            (
             OWNER_ID,
             PET_ID,
             PET_NAME,
             AGE,
             SIGNIFICANT
             )
             VALUES
             (
              #{owner_Id},
              #{pet_Id},
              #{pet_name},
              #{age},
              #{significant}
              )
    </insert>

    <select id="PetInfo" parameterType="String" resultType="com.review.dto.PetDTO">
        SELECT
            OWNER_ID,
            PET_ID,
            PET_NAME,
            TIMESTAMPDIFF(YEAR, AGE, CURDATE()) AS AGE,
            SIGNIFICANT
        FROM Pet_Tbl
        WHERE OWNER_Id =  #{owner_Id}
    </select>

    <select id="InfoModify" parameterType="String" resultType="com.review.dto.PetDTO">
        SELECT
            OWNER_ID,
            PET_ID,
            PET_NAME,
            AGE,
            SIGNIFICANT
        FROM Pet_Tbl
        WHERE PET_ID =  #{pet_Id}
    </select>

    <update id="InfoUpdate" parameterType="com.review.dto.PetDTO">
        UPDATE Pet_Tbl
        SET PET_NAME = #{pet_name},
            AGE = #{age},
            PET_ID = #{pet_Id},
            SIGNIFICANT = #{significant}
        WHERE PET_ID = #{pet_Id}
    </update>

    <delete id="InfoDelete">
        DELETE FROM PET_TBL
        WHERE PET_ID = #{pet_Id}
    </delete>
</mapper>